table{
    margin-top: 5px;
    border-collapse: collapse;
}

th, td{
    border:3px solid black;
    padding: 5px;
}

th{
    background-color: darkturquoise;
}

.cell1{
    border: 0px;
    background-color: white;
}

div{

}

h3{
    text-align: left;
}

.info{
    display: flex;
    flex-flow: column;
    max-width: max-content;
    flex: 1 0 95%;
}

.info--wrap{
    flex: 1 0 90%;
}

.chart {
    width: 600px;
    flex: 1 0 30%;
}

.pchart--chart{
    width: 300px;
}
.pchart{
    width: 300px;
    flex: 1 0 20%;
}



.report-page{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}


